html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    background-color: #f9ffe7;
}

.nav-link {
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

    .nav-link:hover {
        background-color: #4f6d7a; 
        color: white !important;
    }

.collapse .nav-link:hover {
    background-color: #6c8ea4;
}

/* Flex container to hold both the button and the search box */
.datatable-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* Search box right-align */
.dataTables_filter {
    order: 2;
    margin-left: auto;
}

/* Optional: style the button */
.create-btn {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.wrapper-container {
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 15px;
    border: 2px solid #b2c6b6;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 10px 0px 0px #eef4f8;
}